<footer id="footer">
	<ul class="icons">
		<li><a href="/pages/contact.html" class="icon brands fa-twitter" aria-label="Contact EAZ Drones on Twitter"><span class="label">Twitter</span></a></li>
		<li><a href="/pages/contact.html" class="icon brands fa-facebook-f" aria-label="Contact EAZ Drones on Facebook"><span class="label">Facebook</span></a></li>
		<li><a href="/pages/contact.html" class="icon brands fa-instagram" aria-label="Contact EAZ Drones on Instagram"><span class="label">Instagram</span></a></li>
		<li><a href="mailto:info@eazdrones.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
	</ul>
	<p class="service-area">Need a quote? <a href="/pages/contact.html">Contact us</a> or <a href="/pages/booking.html">book online</a>.</p>
	<ul class="copyright">
		<li>&copy; EAZ Drones 2026</li>
	</ul>
</footer>
<script src="/assets/js/track.js" defer></script>
