<header id="header">
	<h1><a href="/index.html"><img src="/favicon-32x32.png" alt="EAZ Drones" class="header-logo" /> EAZ Drones</a></h1>
	<nav id="nav">
		<ul>
			<li class="special">
				<a href="#menu" class="menuToggle"><span>Menu</span></a>
				<div id="menu">
					<ul>
						<li><a href="/index.html">Home</a></li>
						<li><a href="/pages/services.html">Our Services</a></li>
						<li><a href="/pages/service-areas.html">Service Areas</a></li>
						<li><a href="/pages/about.html">About Us</a></li>
						<li><a href="/pages/contact.html">Contact</a></li>
						<li><a href="/pages/booking.html">Book Now</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</header>
